/* @import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Open+Sans:400,400i,600,600i,700,700i'); */
/* @import url('https://fonts.googleapis.com/css?family=PT+Sans'); */
/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */
/* @import url('https://fonts.googleapis.com/css?family=Libre+Franklin'); */

/*color palette*/
/*https://picular.co/kings+canyon
*/

@font-face{
    font-family: 'Libre Franklin';
    src: url('/fonts/LibreFranklin-Regular.ttf');
  }
@font-face{
    font-family: 'Libre Franklin Black';
    src: url('/fonts/LibreFranklin-Black.ttf');
  }
@font-face{
    font-family: 'Libre Franklin Bold';
    src: url('/fonts/LibreFranklin-Bold.ttf');
  }

html,
body {
  background: #fff;
  color: #333;
  font-family: 'Libre Franklin';
  font-size: 11pt
}

#container {
  margin: auto;
}

#header {
  margin-top: 2em;
}

#site-logo {
  float: right;
}

#site-first {
  font-weight: 700;
  font-size: xx-large;
  font-family: 'Libre Franklin Bold'
}

#site-first a:link,
#site-first a:active,
#site-first a:visited,
#site-first a:hover {
  text-decoration: none;
  color: #BD6121;
}

a:link,
a:active,
a:visited,
a:hover {
  color: #818431;
}

#site-last {
  font-weight: 700;
  font-size: xx-large;
  font-family: 'Libre Franklin'
}

#site-last a:link,
#site-last a:active,
#site-last a:visited,
#site-last a:hover {
  text-decoration: none;
  color: #BD6121;
}

#site-title
{
    text-align:left;
}

#site-first, #site-last
{
    display:inline-block;
}

#site-slogan,
#footer {
  font-size: 12pt;
  color: #777;
}

#site-slogan {
  margin-top: .75em;
}

nav {
  clear: both;
  margin-top: 3em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul.first > li {
  display: block;
  margin: .5em 0;
}

nav ul.second,
nav ul.third {
  display: none;
}

nav a:link,
nav a:active,
nav a:visited,
nav a:hover {
  text-decoration: none;
}

nav a:link,
nav a:active,
nav a:visited {
  color: #444;
}

nav a:hover {
  color: #1da8be;
}

#content,
#footer,
hr {
  border-top: 1px #aaa;
}

#content {
  margin-top: 2em;
}

#article {
  margin-top: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Libre Franklin';
  font-weight: 400;
}

#article p, #article ol li, #article ul li {
  text-align: justify;
}

#article li:last-child {
    margin-bottom: -.5em;
}
#article li:first-child {
    margin-top: -.5em;
}

#article blockquote {
  font-family: "Libre Franklin";
  font-size: 10pt;
  display: block;
  margin-left: 4em;
}

#article dl dt {
  font-weight: bold;
}

#article dl dt em {
  font-weight: normal;
}

#article .timestamp,
#article .tags,
#article .tags a:link,
#article .tags a:active,
#article .tags a:visited,
#article .tags a:hover {
  color: #555;
}

hr {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin: 2.5em 0;
}

span.upper {
  text-transform: uppercase;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.prof-pic{
    max-width: 95%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px grey;
}

.white{
    white-space:pre;
}

img.right {
  float: right;
  margin: 0 0 1em 1em;
}

img.left {
  float: left;
  margin: 0 1em 1em 0;
}

#footer {
  clear: both;
  padding-top: 2em;
  font-size: 90%;
}

ul.pagination {
  padding: 0;
  list-style-type: none;
}

.pagination li {
  display: inline-block;
}

.pagination .active a:link,
.pagination .active a:active,
.pagination .active a:visited,
.pagination .active a:hover,
.pagination .disabled a:link,
.pagination .disabled a:active,
.pagination .disabled a:visited,
.pagination .disabled a:hover {
  color: #555;
  text-decoration: none;
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  #container {
    width: 950px;
  }

  nav ul li a {
    display: block;
    font-size: 90%;
  }

  nav ul.first > li {
    display: inline-block;
    position: relative;
    padding-right: 1.25em;
  }

  nav ul.second,
  nav ul.third {
    position: absolute;
    background: #fff;
    width: 212px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);
  }

  nav ul.second {
    z-index: 2;
  }

  nav ul.third {
    z-index: 3;
  }

  nav ul.second li {
    position: relative;
  }

  nav ul.third {
    left: 212px;
    top: -1px;
  }

  nav ul.first li:hover ul.second,
  nav ul.second li:hover ul.third {
    display: block;
  }

  nav ul.second li a,
  nav ul.third li a {
    padding: 0.75em 1em;
  }

  #article {
    width: 650px;
    position: relative;
  }

  #summary {
    display: block;
    position: absolute;
    top: 0px;
    left: 700px;
    width: 250px;
    font-family: "Libre Franklin";
    font-size: 12pt;
  }
}
